:root {
    --primary: #AFB49A;
    --primary-dark: #939B6F;
    --secondary: #EEEAAA;
}

/* Mobile first approach */

body{
    margin: 0px;
    min-height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    background-image: url(./images/fresh_herbs.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

ul{
    background-color: var(--primary);
    margin: 0;
    padding: 10px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

li{
    display: inline;
}

a, a:visited{
    color: black;
    text-decoration: none;
}

li a:hover{
    color: var(--secondary);
    transition: 500ms
}

.active{
    color: var(--secondary);
}

.attribution{
    opacity: .5;
    font-size: small;
}

h1{
    font-size: 3rem;
    text-align: center;
}

footer{
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10px 20px;
}

address{
    padding: 0 0 10px 15px;
}

#spiceCards{
    display: flex;
    flex-direction: column;
}

.card{
    display: grid;
    grid-template-rows: auto auto auto; /* 3 rows, each adjusting height according to content */
    background-color: var(--primary);
    border: 1px solid var(--primary-dark);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
    padding: 10px 20px;
    justify-items: center;
    align-items: center;
}

.spiceImg{
    width: 300px;
    border: 1px solid var(--secondary);
}

.spiceName{
    color: var(--secondary);
}


/* Medium screens */
@media screen and (min-width: 768px) {
    .card{
        grid-template-columns: max-content 1fr;
        grid-template-rows: auto auto;
    }
    
    .spiceImg{
        width: 360px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .spiceName{
        font-size: 4rem;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .spiceInfo{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    footer{
        flex-direction: row;
        gap: 5rem;
    }
}

/* Large screens */

@media screen and (min-width: 1200px) {

}